<head>
    <link rel="stylesheet" href="/css/footer.css">
</head>
<footer>
   
    <div class="centainer">
        <div class="items">
            <h3>Copyright - All Rights Reserved</h3>
        </div>
        <div class="items">
            <ul>
                <li><a href="/user"><h3>Home</h3></a></li>
                <%if(locals.user){%>
                    <li><a href="/user/profile"><h3>Profile</h3></a></li>
                    <li><a href="/user/signout"><h3>Signout</h3></a></li>
                    <%}%>
            </ul>
        </div>
        <div class="items">
            <h3>Made By Kevin</h3>
        </div>


    </div>
</footer>