<head>
    <link rel="stylesheet" href="/css/header.css">
</head>
<header>

    <div id="navbar">
        <div style="font-size: 3rem;
        padding-left:12px;">

        <a href="/">codeial</a>
           
        </div>

        <div id="right">
            <%if(locals.user){%>
                <div>
                    <div><a href="/">Home</a></div>
                    <div><a href="/user/profile"><%=user.name%></a></div>
                    <div><a href="/user/signout">Signout</a></div>
                </div>

                <%}else{%>

                    <div>
                        <div>
                            <a href="/user/login">Login</a>
                        </div>
                        <div>
                            <a href="/user/signup">Signup</a>

                        </div>
                    </div>

                    <% } %>

        </div>


    </div>
</header>