<head>
    <link rel="stylesheet" href="/css/login.css">
</head>
    <div class="container">
        <h1 style="color:aliceblue;">Login page</h1>
        <form action="/user/logindata" method="post" id="form">
            <div class="mail">
                <label class='label' for=""><strong>Email:</strong></label>
                <input type="email" name="email" id="myEmail" required placeholder="Enter Email">
            </div>

            <div class="password">
                <label class="label" for=""><strong>Password:</strong>:</label>
                <input type="password" name="password" id="myPassword" required placeholder="Enter Password" >
            </div>
            <button type="submit" class="btn">Login</button>
        </form>
    </div>
