<head>
    <link rel="stylesheet" href="/css/signup/signup.css">

</head>
    <div class="container">
        <div class="header">
            <h1 style="color: aliceblue;">Welcome to the Site</h1>
        </div>
        <div class="form">
            <form action="/user/signupdata" method="post" id="form">
                <div class="form-item">
                    <div class="label">
                        <label for="">Enter Email:</label>
                    </div>
                    <div class="input">
                        <input type="email" name="email" required id="" placeholder="Enter Email" />
                    </div>

                </div>
                <div class="form-item">
                    <div class="label">

                        <label for="">Create Password:</label>
                    </div>
                    <div class="input">
                        <input type="password" name="password" required id="" placeholder="Enter Password" />
                    </div>
                </div>
                <div class="form-item">
                    <div class="label">

                        <label for="">Enter Name:</label>
                    </div>
                    <div class="input">

                        <input type="text" name="name" id="" required placeholder="Enter Name" />
                    </div>
                </div>
                <div class="button">

                    <button type="submit">Signup</button>
                </div>
            </form>
        </div>
    </div>
