body{
    background-color: rgb(169, 172, 171);
}
.container{
    text-align: center;
    background-color: cadetblue;
    padding: 21px 50px;

}
#form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;


}
strong{
    color: aliceblue;
}
.label{
    /* padding: 20px 20px; */
    margin: 20px 20px;
}
.mail{
    margin: 20px;
}
.password{
    margin: 20px;
}


.btn{
    width: 100px;
    /* display: inline-block; */
    padding: 10px;
    border-radius: 20px;
}